<section id="dashboard-view" class="view">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p class="text-right">Welcome Back, {{$ctrl.user.fname}}!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">

                <div class="content-box">
                    <div class="content-box-header">
                        <h2 content-box-title>Policy Details</h2>
                    </div>
                    <div class="content-box-body">
                        <div ng-hide="!$ctrl.policy">
                            <h3>{{$ctrl.policy.name}} Policy</h3>
                            <p>
                                {{$ctrl.policy.summary}}
                            </p>
                            <p class="text-right">
                                <a class="btn btn-primary" href="/autopolicy">See More Details</a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
