.acctcreatemodalform input.ng-invalid.ng-touched {
    background-color: #FA787E;
}

.step-indicator {
    margin-bottom: 20px;
}

.step-indicator-bar {
    border: 1px #000 solid;
}

.step-indicator-bar-fill {
    background: #008000;
    height: 18px;
    margin: 1px;
}
