.acctcreatemodalform input.ng-invalid.ng-touched {
    background-color: #FA787E;
}

.step-indicator-bar {
    border: 3px #000 solid;
}

.step-indicator-bar-fill {
    background: #008000;
    height: 20px;
}
