<section class="login-form-section">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Sign In Again</h3>
    </div>
    <div class="modal-body" id="modal-body">
       <form class="loginmodalform" name="loginmodalform">
           <p>We want to make sure your information is secure, so you'll need to sign in again before we'll make the requested change.</p>
           <p class="text-left visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block">
               <label>Email</label> <br>
               <input type="email" placeholder="enter email" class="form-control" tooltip-placement="auto" uib-tooltip="{{$ctrl.toolTipEmail}}" ng-model="$ctrl.login.email" required>
           </p><br>
           <p class="text-left visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block">
               <label>Password</label> <br>
               <input type="password" placeholder="enter password" class="form-control" tooltip-placement="auto" uib-tooltip="{{$ctrl.toolTipPassword}}" ng-model="$ctrl.login.password" required> <br>
           </p>
           <p>
               <button class="btn btn-primary" ng-click="$ctrl.attemptLogin()">
                   <i class="glyphicon glyphicon-log-in" aria-hidden="true"></i>
                   Submit sign-in info
               </button>
           </p>
       </form>
    </div>
</section>

