<section id="dashboard-view" class="view">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p class="text-right">Welcome Back, {{$ctrl.user.fname}}!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">

                <div class="content-box">
                    <div class="content-box-header">
                        <h2 content-box-title>Policy Details</h2>
                    </div>
                    <div class="content-box-body">
                        <p>
                            Need to look at another policy? Use the drop-down below to select the policy you want.
                        </p>
                        <p>
                            <strong>Select a Policy</strong>
                            <select
                                ng-options="p.name + ' ' + p.num for p in $ctrl.policies"
                                ng-model="$ctrl.selectedPolicy"></select>
                        </p>
                        <p>
                            <a class="btn btn-danger" href="/dashboard">
                                <i class="fa fa-arrow-left" aria-hidden="true"></i> Back to Dashboard
                            </a>
                        </p>

                        <h3>{{$ctrl.policy.name}} Policy</h3>
                        <p>
                            {{$ctrl.policy.summary}}
                        </p>
                        <h3>Drivers</h3>
                        <table class="table table-striped table-border">
                            <tr>
                                <th ng-repeat="(k, cell) in $ctrl.driverTableHeaders">{{cell.displayName}}</th>
                            </tr>
                            <tr ng-repeat="(k,driver) in $ctrl.policy.drivers">
                                <td ng-repeat="(i, cell) in $ctrl.driverTableHeaders">{{driver[cell.name]}}</td>
                            </tr>
                        </table>

                        <div class="col-sm-6" ng-repeat="(k,vehicle) in $ctrl.policy.vehicles">
                            <h3>Vehicle {{k + 1}}</h3>
                            <p>{{vehicle.desc}}</p>
                            <table class="table table-striped table-border" ng-hide="!vehicle.showCoverage">
                                <tr>
                                    <th>Coverage</th>
                                    <th>Limit</th>
                                    <th>Deductible</th>
                                </tr>
                                <tr ng-repeat="(i, coverage) in vehicle.coverages">
                                    <td>{{coverage.name}}</td>
                                    <td>{{coverage.limit}}</td>
                                    <td>{{coverage.deductible}}</td>
                                </tr>
                            </table>
                            <p class="text-right">
                                <button class="btn btn-primary" ng-hide="vehicle.showCoverage" ng-click="$ctrl.showCoverage(k)">View Coverages</button>
                                <button class="btn btn-danger" ng-hide="!vehicle.showCoverage" ng-click="$ctrl.hideCoverage(k)">Hide Coverages</button>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
