<section class="login-form-section" ng-show="$ctrl.isView('login')">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Log In</h3>
        <a href="" ng-click="$ctrl.closeModal()" class="modal-close-btn"><i class="fa fa-times fa-2x" aria-hidden="true"></i></a>
    </div>
    <div class="modal-body" id="modal-body">
       <form class="loginmodalform" name="loginmodalform">
           <p>First time here?</p>
           <p>
               <button class="btn btn-warning" ng-click="$ctrl.setupAcct()">
                   <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                   Set Up Account
               </button>
           </p>
           <p>
               Already have an account? Sign in below.
           </p>
           <p class="text-left visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block">
               Email <br>
               <input type="email" placeholder="enter email" class="form-control" tooltip-placement="auto" uib-tooltip="{{$ctrl.toolTipEmail}}" ng-model="$ctrl.login.email" required>
           </p><br>
           <p class="text-left visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block">
               Password <br>
               <input type="password" placeholder="enter password" class="form-control" tooltip-placement="auto" uib-tooltip="{{$ctrl.toolTipPassword}}" ng-model="$ctrl.login.password" required> <br>
           </p>
           <p>
               <a href="">Need Help? Click here.</a>
           </p>
           <p>
               <button class="btn btn-danger" ng-click="$ctrl.closeModal()">
                   <i class="fa fa-times" aria-hidden="true"></i>
                   Go Back To PMIC
               </button>
               <button class="btn btn-primary" ng-click="$ctrl.attemptLogin()">
                   <i class="glyphicon glyphicon-log-in" aria-hidden="true"></i>
                   Log In
               </button> ({{$ctrl.loginattempts}})
           </p>
       </form>
    </div>
</section>


<section class="logging-in-section modal-skin-alt" ng-show="$ctrl.isView('loggingIn')">
    <p>Logging you in..</p>
    <div class='uil-spin-css' style='-webkit-transform:scale(0.45)'><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div></div>
    <p>
        <a href="" ng-click="$ctrl.loginFailed()">Login Failed</a>
    </p>
</section>

<section class="acct-locked-section modal-skin-alt text-center" ng-show="$ctrl.isView('locked')">
    <p>
        Account temporarily locked. <br>
        Due to too many incorrect password attempts, we've temporarily locked your account. This is for your protection.
    </p>
    <p>
        If you need assistance accessing your account, please contact our Members Service Representatives.
    </p>
    <p class="counter"
       value="$ctrl.retryValue"
       to="$ctrl.retryTarget">
        You can try again in xx minutes.
    </p>
    <p>
        (515) 295-xxxx ext. xxxx.
    </p>
    <p>
        <button class="btn btn-danger" ng-click="$ctrl.closeModal()">Go Back To PhMIC</button>
    </p>
</section>
