$title-font-size: 24px;


.loginmodalform input.ng-invalid.ng-touched {
    background-color: #FA787E;
}

.login-form-section,
.acct-locked-section,
.logging-in-section {
    display: none
}

.login-form-section.open,
.acct-locked-section.open,
.logging-in-section.open {
    display: block
}

.modal-skin-alt {
    background: #0000ff;
    color: #fff;
}

.modal-header {
    background: #0000ff;
    color: #fff;
}

.modal-title {
    float: left;
    font-size: $title-font-size;
}


.modal-close-btn {
    color: #fff;
    float: right;
    //font-size: $title-font-size;
}

.modal-close-btn:hover,
.modal-close-btn {
    color: #fff;
}

.modal-body {
    text-align: center;
}
