<section id="dashboard-view" class="view">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                <div class="content-box content-container">
                    <div class="content-box-header">
                        <h2 content-box-title>Change Security Questions</h2>
                    </div>
                    <div class="content-box-body">
                        <p>
                            Select the question you'd like to change. This will clear out the existing question and answer.
                        </p>

                        <div class="text-left visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block form-group">
                            <div class="label-badge">
                                <label for="security-question-1">Update Question 1</label>
                            </div>
                            <input type="text" ng-model="$ctrl.acct.securityquestion1" class="form-control" id="security-question-1" required>
                        </div>
                        <div class="text-left visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block form-group">
                            <div class="label-badge">
                                <label for="security-answer-1">Answer Question 1</label>
                            </div>
                            <input type="text" ng-model="$ctrl.acct.securityanswer1" class="form-control" id="security-answer-1" required>
                        </div>


                        <div class="text-left visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block form-group">
                            <div class="label-badge">
                                <label for="security-question-2">Update Question 2</label>
                            </div>
                            <input type="text" ng-model="$ctrl.acct.securityquestion2" class="form-control" id="security-question-2" required>
                        </div>
                        <div class="text-left visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block form-group">
                            <div class="label-badge">
                                <label for="security-answer-2">Answer Question 2</label>
                            </div>
                            <input type="text" ng-model="$ctrl.acct.securityanswer2" class="form-control" id="security-answer-2" required>
                        </div>


                        <div class="text-left visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block form-group">
                            <div class="label-badge">
                                <label for="security-question-3">Update Question 3</label>
                            </div>
                            <input type="text" ng-model="$ctrl.acct.securityquestion3" class="form-control" id="security-question-3" required>
                        </div>
                        <div class="text-left visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block form-group">
                            <div class="label-badge">
                                <label for="security-answer-3">Answer Question 3</label>
                            </div>
                            <input type="text" ng-model="$ctrl.acct.securityanswer3" class="form-control" id="security-answer-3" required>
                        </div>

                        <p class="text-right">
                            <a class="btn btn-danger" href="/dashboard">
                                <i class="fa fa-home" aria-hidden="true"></i> Return to home
                            </a>
                            <a class="btn btn-primary" href="">
                                <i class="fa fa-times" aria-hidden="true"></i> Proceed with change
                            </a>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
