<section id="dashboard-view" class="view">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p class="text-right">Welcome Back, {{$ctrl.user.fname}}!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <a href="" ng-click="$ctrl.openBillPay()">Pay Bill!</a>

                <div class="content-box">
                    <div class="content-box-header">
                        <h2 content-box-title>Policy Details</h2>
                    </div>
                    <div class="content-box-body">
                        <h3>Select A Policy</h3>
                        <p>
                            <select
                                ng-options="p.name + ' ' + p.num for p in $ctrl.policies"
                                ng-model="$ctrl.selectedPolicy"></select>
                        </p>
                        <div ng-hide="!$ctrl.selectedPolicy">
                            <h3>{{$ctrl.selectedPolicy.name}} Policy</h3>
                            <p>
                                {{$ctrl.selectedPolicy.summary}}
                            </p>
                            <p class="text-right">
                                <a href="/autopolicy" class="btn btn-primary">See More Details</a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
