.content-box{
    border: 3px #000 solid;
    overflow: auto;
}
.content-box-header {
    background: #999;
    border-bottom: 3px solid #000;
    color: #fff;
    overflow: auto;
    padding: 0 10px;
}
.content-box-body {
    padding: 0 10px;
}
