<section id="dashboard-view" class="view">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                {{$ctrl.modaloptions}}


                <div class="content-box content-container">
                    <div class="content-box-header">
                        <h2 content-box-title>Improve Account Security</h2>
                    </div>
                    <div class="content-box-body">
                        <p>
                            Security is important. If you want to increase the security of your account, consider activating some of thw following features.
                        </p>

                        <div class="row">
                            <div class="col-sm-6">
                                <h3>
                                    <span class="left">SMS Authentication</span>
                                    <span class="right text-success" ng-if="$ctrl.SMSActive">Currently Active</span>
                                </h3>
                                <p>
                                    With SMS authentication activated, you'll be required to enter a one-time code any time you want to log into your account. We'll text the code to you when you try to access your account.
                                </p>
                                <p>
                                    <button class="btn btn-warning" ng-click="$ctrl.openActiveSMS()" ng-if="!$ctrl.SMSActive">
                                        Activate SMS security
                                    </button>
                                </p>
                                <p>
                                    <button class="btn btn-danger" ng-click="$ctrl.deactivateSMS()" ng-if="$ctrl.SMSActive">
                                        Deactivate SMS security
                                    </button>
                                </p>
                            </div>
                            <div class="col-sm-6">
                                <h3>
                                    <span class="left">Recovery Email</span>
                                    <span class="right text-success" ng-if="$ctrl.recoveryEmailActive">Verified</span>
                                </h3>
                                <p>
                                    It's a good idea to have a backup email address attached to your account, in case you ever need to recover your account. This can't match the email you use to log in.
                                </p>
                                <p>
                                    <button class="btn btn-warning" ng-click="$ctrl.openRecoveryEmail()" ng-if="!$ctrl.recoveryEmailActive">
                                        Set up recovery email
                                    </button>
                                </p>
                                <p>
                                    <button class="btn btn-danger" ng-click="$ctrl.openRecoveryEmail()" ng-if="$ctrl.recoveryEmailActive">
                                        Deactivate recovery email
                                    </button>
                                </p>
                            </div>
                        </div>

                        <p class="text-right">
                            <a class="btn btn-danger" href="/dashboard">
                                <i class="fa fa-home" aria-hidden="true"></i> Return to home
                            </a>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
